/********************************div类************************/
.div0{
	width: 100%;
	height: 8%;
	background-color:black;
	position:absolute;
	top: 0%;
	left: 0%;
	right: 0%;
}
.div1{
	width: 70%;
	height: 45%;
	position: relative;
	top: 38%;
	left: 25%;
}
.div2{
	width:50%;
	height:80%;
	background-color:#FFFFFF;
	position: absolute;
	top: 5%;
	left: 25%;
}
.div3{
	width: 65%;
	height: 90%;
	position:absolute;
	top: 8%;
	left:17%;
	background-color:#FFFFFF;
}
.div4{
	width: 12.85%;
	height: 92%;
	position: absolute;
	top: 8%;
	right: 0%;
	background-color:#F0FFF0;
	font-family:"Microsoft YaHei";
	font-size: 1.5em;
	border:0px solid black;
}
.div5{
	width: 15%;
	height: 30%;
	position: absolute;
	top: 5%;
	left: 42%;
	background-color: white;
	font-family:"Microsoft YaHei";
	font-size: 0.95em;
	border:2px solid black;
}

/****************************属性类***************************/
.p1{
	font-family:"幼圆";
	position: relative;
	top:2.5%;
	font-size: 0.7em;
	color:#708090;
	text-indent:1em;
	margin-left: 0%;
}
.p2{
	font-family:"幼圆";
	font-size: 0.65em;
	color:#FFA07A;
	position:relative;
	top: 4%;
	left: 0%;
}
.p3{
	font-family:"幼圆";
	font-size: 0.65em;
	color:#228B22;
	margin-top: 3%;
	position: absolute;
	left: 0%;
}
.p4{
	font-family:"幼圆";
	font-size: 0.95em;
	color:black;
	margin-top: 10%;
	position: absolute;
	left: 25%;
}
.p5{
	font-family:"Microsoft YaHei";
	font-size: 1.55em;
	color: black;
	position: relative;
	top: -8%;
	left: 40%;
}
.p6{
	font-family:"幼圆";
	font-size: 0.95em;
	color:black;
	margin-top: 6%;
	position: absolute;
	left: 25%;
}
.p7{
	font-family:"幼圆";
	color:#008080;
	position:relative;
	top: 4%;
	text-align: center;
}
.p8{
	font-family:"幼圆";
	position: relative;
	top:2.5%;
	color:#696969;
	text-indent:1em;
	margin-left: 0%;
}
.p9{
    font-family:"幼圆";
	color:#F08080;
	margin-top: 1%;
	position: absolute;
	left: 45%;
}
.a1{
	font-family:"Microsoft YaHei";
	font-size: 0.95em;
	padding:1.5%;
	color:#F5FFFA;
	text-decoration:none;
}
.a2{
	font-family:"Microsoft YaHei";
	font-size: 0.70em;
	color:black;
	position:relative;
	top: 50%;
	left: -5%;
	text-decoration:none;
}
#a3 a:hover{
	font-family:"Microsoft YaHei";
	font-size: 0.95em;
	padding:1.5%;
	text-decoration:none;
	color:#EABF00;
}
.a3 {
	font-size: 0.65em;
	position:relative;
	top: 0.5%;
	float:left;
	left: 90%;
	text-decoration:none;
	color:black;
}
.a4{
	font-family:"Microsoft YaHei";
	font-size: 1.1em;
	color:black;
	position:relative;
	left: 280%;
	text-decoration:none;
}
.a5 {
	font-size: 0.75em;
	position:relative;
	right: 5%;
	float: right;
	margin-top: 1.8%;
	text-decoration:none;
	color:black;
}
.form1{
	font-family:"Microsoft YaHei";
	font-size:0.95em;
	position:relative;
	left:65%;
	top: 6%;
	width:15%;
	height:15%;
}
.form2{
	font-family:"Microsoft YaHei";
	font-size:1.05em;
	position:absolute;
	right:12%;
	top: 6%;
	width:75%;
	height:75%;
}
.input1{
	position:absolute;
	left: 3%;
	top: -40%;
	height: 120%;
	width: 80%;
	font-family:"Microsoft YaHei";
	font-size: 1.05em;
	background-color:black;
	color:white;
	border: 0px;
	opacity:1;
	text-indent: 1.5em;
	outline: none;
	border-bottom:1px double white;
}
.input2{
	background-color: black;
	color: white;
	font-family:"Microsoft YaHei";
	font-size: 1.05em;
	height: 4%;
	width: 30.158%;
	position: absolute;
	top: 80%;
	left: 57%;
	border: 0px;
}
.input3{
	background-color: white;
	font-family:"Microsoft YaHei";
	color: black;
	font-size: 1.05em;
	height: 3%;
	width: 25%;
	position: absolute;
	top: 70%;
	left: 17%;
	border:1px solid black;
}
.input_admin{
	background-color: white;
	font-family:"Microsoft YaHei";
	font-size: 0.8em;
	height: 6.5%;
	width: 65%;
	position: absolute;
	top:39%;
	left:22%;
	border:1px solid #A9A9A9;
}
.textarea1{
	background-color:white;
	font-family: "Microsoft YaHei";
	font-size: 1.15em;
	font-color:#E0FFFF;
	text-indent: 0.0em;
	height: 340px;
	width: 75%;
	position: relative;
	left: 13%;
	top: 10%;
	border:1px solid black; 
}
.textarea2{
	background-color:white;
	font-family: "Microsoft YaHei";
	font-size: 1.35em;
	font-color:#E0FFFF;
	height:55%;
	width:87%;
	position: absolute;
	left: 6%;
	top: 15%;
	border:1px solid black; 
}